/**
 * @author Yuicon
 */

.card {
    width: 4.8rem;
    height: 2.7rem;
    background-color: white;
    border-radius: .1rem;
    margin: .3rem;
    transition: all .3s;
}

.card img {
    width: 4.8rem;
    height: 2.7rem;
    border-radius: .1rem;
}

.card:hover {
    transform: scale(1.1);
}